<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Book</title>
    <link rel="stylesheet" href="/header.css">
</head>
<body>
<div class="addBook">
    <h2>add</h2>
    <form th:action="@{/addBook}" method="post" th:object="${newBook}">
        <label for="author">Author:</label>
        <input type="text" id="author" name="author">
        <label for="title">Name:</label>
        <input type="text" id="title" name="title">
        <input type="submit" value="Add book">
    </form>
    <a th:href="@{/bookList}">Back to Book List</a>
</div>
</body>
</html>
