<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books List</title>
</head>
<body>
<h1>Books List</h1>
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
</button>
<table>
    <tr>
        <th>Title</th>
        <th>Author</th>
    </tr>
    <tr th:each="book : ${books}">
        <td th:text="${book.title}">Title</td>
        <td th:text="${book.author}">Author</td>
    </tr>
</table>
<a th:href="@{/home}">Go back To Home Page</a>
<a th:href="@{/addBook}">Add a New Book</a>
</body>
</html>
