<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Beautiful Website</title>
    <link rel="stylesheet" href="/header.css">
</head>
<body>
<table class="header">
    <tr>
        <td><a th:href="@{/home}">Home</a></td>
        <td><a th:href="@{/about}">About</a></td>
        <td><a th:href="@{/books}">Book List</a></td>
        <td><a th:href="@{/addBook}">Add book</a></td>
        <td><a th:href="@{/randomBook}">Random Book</a></td>
        <td><a th:href="@{/addUser}">Add user</a></td>
        <td><a th:href="@{/userList}">User List</a></td>
        <td><a th:href="@{/randomUser}">Random user</a></td>

    </tr>
</table>

<section class="content">
    <p>
        Book Dealers is a passionate team of book enthusiasts who are dedicated to bringing you the best selection of books from various genres.
        Our mission is to inspire a love for reading and provide our customers with access to a wide range of literary treasures.
        We envision a world where everyone has easy access to knowledge, entertainment, and inspiration through the joy of reading.
        We strive to make quality books accessible to all, promoting lifelong learning and personal growth.
    </p>
</section>
</body>
</html>
